b {
  padding-top: 8px;
}

a {
  color: black;
}

.mm-survey-progress {
  margin: 59px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.column-left {
  justify-content: center;
  display: flex;
  padding: 40px;
  padding-right: 20px;
  height: 500px;
  text-align: left;
}

.column-right {
  justify-content: left;
  display: flex;
  padding: 40px;
  padding-left: 20px;
  height: 500px;
  position: relative;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 150;
}

.welcome {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

.welcome h1 {
  font-family: 'Crimson Text', serif;
  font-size: 32px;
  text-align: left;
}

.welcome p {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  margin-top: 30px;
}

.btn.begin-btn {
  background-color: black !important;
  color: white;
  position: absolute;
  bottom: 125px;
  left: 386px;
  border-color: black;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Karla', serif;
}

.btn.begin-btn:hover {
  opacity: .8;
}

.mm-survey {
  margin-bottom: 50px;
  width: 500px;

  .smaller {
    font-size: 10px;
  }
}

.mm-survey-container {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  background: #FFFFFF;
  margin-top: 15px;
}

.mm-survey-results-container {
  width: 100%;
  min-height: 500px;
  background: #FFFFFF;
}

.mm-survey-page {
  display: none;
  font-family: 'Raleway';
  font-weight: 100;
}

.mm-survey-page.active {
  display: block;
}

.mm-survey-controller {
  position: relative;
  background: #FFFFFF;
  padding: 0px 0px;
}

.mm-survey-results-controller {
  position: relative;
  background: #FFFFFF;
  padding: 12px 14px;
}

.mm-back-btn {
  display: inline-block;
  position: relative;
  float: left;
}

.mm-prev-btn .btn {
  display: inline-block;
  position: relative;
  opacity: 0.8;
  float: left;
  padding: 0px;
  margin: 0px;
  font-size: 35px;
}

.mm-prev-btn .btn:hover {
  color: #00c5cd;

}

.mm-next-btn .btn:hover {
  color: #00c5cd;
}

.mm-finish-btn {
  display: none;
  position: relative;
  float: right;
  padding-bottom: 20px;
}

.mm-survey-controller button {
  font-family: 'Karla', serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  background-color: black;
  border: 1 px solid black;
  position: relative;
  float: right;
  bottom: 70px;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.mm-survey-controller button:hover {
  opacity: .8;
  color: white;
}

.mm-survey-controller button:active {
  opacity: .8;
  color: white;
}

.mm-survey-controller button:focus {
  opacity: none;
  color: white;
  outline: none;
}

.mm-survey-progress {
  width: %;
  height: 5px;
  background: #FFFFFF;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 0px;
}

.mm-progress {
  transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
  height: 5px;
  width: 0%;
  background: #202528;
  padding: 50px;
}

.mm-survey-q {
  list-style-type: none;
  padding: 0px;
}

.mm-survey-q li {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
}

.mm-survey-q li input {
  width: 100%;
}

.mm-survery-content label {
  width: 100%;
  padding: 10px 10px;
  margin: 0px !important;
}

.mm-survery-content label:hover {
  cursor: pointer;
}

.mm-survery-content {
  height: 315px;
}

.mm-survey-question p {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  font-weight: 50;
  margin-bottom: 20px;
  line-height: 40px;
}

.mm-survery-content label p {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 5px;
  margin: 0px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  color: #292321;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 16px;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

input[type="radio"]+label span {
  border: 2px solid #202528;
  background: transparent;
}

input[type="radio"]:checked+label span {
  background-color: #00c5cd;
  border: 2px solid #00c5cd;
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
  -webkit-transition: background-color 0.20s ease-in-out;
  -o-transition: background-color 0.20s ease-in-out;
  -moz-transition: background-color 0.20s ease-in-out;
  transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.15);
  border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus,
.mm-next-btn button:focus {
  outline: none;
  border: none;
  font-size: 25px;
}

.mm-survey.okay .mm-next-btn {
  opacity: 1;
}

.mm-finish-btn.active {
  display: inline-block;
}

.mm-finish-btn.active {
  opacity: .8;
}

.mm-survey-results {
  display: none;
}

.mm-survey-results-score {
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 80px;
  font-family: 'Raleway';
  font-weight: 600;
  letter-spacing: -6px;
}

.mm-survey-results-list {
  list-style-type: none;
  padding: 0px 15px;
  margin: 0px;
}

.mm-survey-results-item {
  color: #fff;
  margin-top: 10px;
  padding: 15px 15px 15px 0px;
  font-family: 'Raleway';
  font-weight: 300;
}

.mm-survey-results-item.correct {
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
  background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
  height: 40px;
  position: relative;
  padding: 17px;
  background: #333;
  color: #fff;
}

.mm-item-info {
  float: right;
}

#begin-survey {
  background-color: #00c5cd;
}
