
b {
  padding-top: 8px;
}

.mm-survey-progress {
  margin: 59px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column-left {
  justify-content: center;
  display: flex;
  padding: 40px;
  padding-right: 20px;
  height: 500px;
  text-align:left;
}

.column-right {
  justify-content: left;
  display: flex;
  padding: 40px;
  padding-left: 20px;
  height: 500px;
  position: relative;
}


h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

.welcome {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

.welcome h1 {
  font-family: 'Crimson Text', serif;
  font-size: 28px;
  text-align: left;
}
.welcome p {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

button.begin-btn {
  background: #202528;
  border: 0;
  border-radius: 0;
  color: #fff;
  position: absolute;
  bottom: 164px;
  left: 197px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mm-survey {
  margin-bottom: 50px;
  height:726px;
  width:500px;

  .smaller {
    font-size: 10px;
  }
}

.mm-survey-container {
  width: 100%;
  min-height: 500px;
  background: #FFFFFF;
}

.mm-survey-results-container {
  width: 100%;
  min-height: 500px;
  background: #FFFFFF;
}

.mm-survey-page {
  display: none;
  font-family: 'Raleway';
  font-weight: 100;
}

.mm-survey-page.active {
  display: block;
}

.mm-survey-controller {
  position: relative;
    height: 60px;
    background: #FFFFFF;
    padding: 0px 0px;
}

.mm-survey-results-controller {
  position: relative;
    height: 60px;
    background: #FFFFFF;
    padding: 12px 14px;
}

.mm-back-btn {
  display: inline-block;
    position: relative;
    float: left;
}

.mm-prev-btn {
  display: inline-block;
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px;
}

.mm-next-btn {
  display: inline-block;
  opacity: 0.25;
    position: relative;
    float: right;
}

.mm-finish-btn {
  display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
  background: #74E4D6 !important;
    color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mm-survey-controller button {
  background: #fff;
    border: none;
    padding: 8px 18px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 25px;
}

.mm-survey-results-controller button {
  background: #fff;
  border: none;
  padding: 8px 18px;
}

.mm-survey-progress {
  width: 100%;
  height: 5px;
  background: #FFFFFF;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 0px;
}

.mm-progress {
  transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
  height: 5px;
  width: 0%;
  background: #202528;
  padding: 50px;
}

.mm-survey-q {
  list-style-type: none;
  padding: 0px;
}

.mm-survey-q li {
  display: block;
  /*padding: 20px 0px;*/
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
}

.mm-survey-q li input {
  width: 100%;
}

.mm-survery-content label {
  width: 100%;
  padding: 10px 10px;
  margin: 0px !important;
}

.mm-survery-content label:hover {
  cursor: pointer;
}

.mm-survey-question {
  // min-height: 100px;
}

.mm-survey-question p {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  font-weight: 50;
  margin-bottom: 20px;
  line-height: 40px;
}

.mm-survery-content label p {
  display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

input[type="radio"] + label span {
  border: 2px solid #202528;
  background: transparent;
}

input[type="radio"]:checked + label span {
  background-color: #74E4D6;
  border: 2px solid #74E4D6;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.20s ease-in-out;
  -o-transition: background-color 0.20s ease-in-out;
  -moz-transition: background-color 0.20s ease-in-out;
  transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
  outline: none;
  border: none;
  font-size: 25px;
}

.mm-survey.okay .mm-next-btn {
  display: inline-block;
  opacity: 1;
}

.mm-finish-btn.active {
  display: inline-block;
}

.mm-survey-results {
  display: none;
}

.mm-survey-results-score {
  margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: -6px;
}

.mm-survey-results-list {
  list-style-type: none;
  padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
  color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-family: 'Raleway';
    font-weight: 300;
}

.mm-survey-results-item.correct {
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
  background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
  height: 40px;
  position: relative;
  padding: 17px;
  background: #333;
  color: #fff;
}

.mm-item-info {
  float: right;
}
