
body.dashboard {
  padding: 20px;
  padding-top: 80px;
  padding-left: 0px;
  margin-left: 0px;

  ul, ol {
      margin-top: 40px;
      margin-bottom: 12.5px;
  }
  .container-grid {
    width: 1100px;
    height: 100%;
    margin-bottom: 60px;
  }

  main {
    grid-area: content;
    background-color:#e8ecef;
    width: 710px;
    padding-top: 30px;
    padding-left: 80px;
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background-color:#e8ecef;
    margin-right: 20px;
    padding-top: 15px;

  }

}
