body.dashboard {
  padding-left: 0px;
  margin-left: 0px;

  .container-grid {
    overflow: scroll;
    height: 100%;
    margin-bottom: 20px;
  }

  main {
    grid-area: content;
    background-color: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-color: #3D3D3D;
  }

  header {
    grid-area: header;
  }

  .col-md-5 {
    font-family: 'Karla', serif;
  }

  .side-nav {
    grid-area: nav;
    background-color: #00c5cd;
    margin-right: 20px;
    padding-top: 15px;
    border-color: #3D3D3D;
    padding-left: 40px;

    ul,
    ol {
      margin-top: 30px;
      margin-bottom: 12.5px;
      width: 80%;
    }

    li:first-of-type {
      a {
        font-weight: bold;
      }
    }



    a {
      font-family: 'Noto Sans', sans-serif;
      font-size: 20px;
    }

    li:hover a {
      text-decoration: none;
      font-size: 2.1rem;
      color: black;

    }
  }

  .btn.btn-success {
    background-color: black;
    border-color: black;
    position: absolute;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px
  }

  .btn.btn-success:hover {
    color: black;
    border-color: black;
    background-color: white;
    position: absolute;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px
  }

  .btn-success:active:focus {
    box-shadow: white !important;
  }
}
