
body.dashboard {
  padding-left: 0px;
  margin-left: 0px;

  ul, ol {
      margin-top: 40px;
      margin-bottom: 12.5px;
  }
  .container-grid {
    width: 1100px;
    height: 100%;
    margin-bottom: 60px;
  }

  main {
    grid-area: content;
    background-color:#E8ECEF;
    width: 710px;
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 30px;
    border: solid 4px;
  }

  header {
    grid-area: header;
  }

  .side-nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background-color:#E8ECEF;
    margin-right: 20px;
    padding-top: 15px;
    border: solid 4px;

  }

}
