body.dashboard {
  padding-left: 0px;
  margin-left: 0px;
  .container-grid {
    width: 1100px;
    height: 100%;
    margin-bottom: 60px;
  }
  main {
    grid-area: content;
    background-color:#FFFFFF;
    width: 710px;
    padding-top: 25px;
    padding-left: 80px;
    padding-bottom: 30px;
    border: solid 1px;
    border-color: #3D3D3D;
  }
  header {
    grid-area: header;
  }
  .col-md-5 {
    font-family: 'Karla', serif;
  }
  .side-nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background-color:#E8ECEF;
    margin-right: 20px;
    padding-top: 15px;
    border: solid 1px;
    border-color: #3D3D3D;
    ul, ol {
      margin-top: 30px;
      margin-bottom: 12.5px;
    }
    a {
      font-family: 'Karla', serif;
      font-size: 20px;
      color: black;
    }
    a:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
  .btn.btn-success {
    background-color: black;
    border-color: black;
    position:absolute;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px
  }
  .btn.btn-success:hover {
    color: black;
    border-color: black;
    background-color: white;
    position:absolute;
    left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px
  }
  .btn-success:active:focus {
    box-shadow: white !important;
  }
}
