// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  display: flex;
  flex-direction: column;

  > .main-container {
    min-height: 100vh;
  }
}

.display-block {
  display: block !important;
}

.center {
  margin: 0 auto;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  color: black;
  font-weight: 10px;
}
