// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  display: flex;
  flex-direction: column;

  > .main-container {
    min-height: 100vh;
  }
}

.display-block {
  display: block !important;
}

.center {
  margin: 0 auto;
}
