<h1>hello from dashboard user</h1>

<p> This is where we will put the order of users</p>

<% @user.orders.each do |order| %>
  <% order.package.items.each do |item| %>
      <div class = "col  1">
        <%= link_to item_path(item) do %>
        <div class = "index-card">
          <div class = "picture-container">
            <div class = "item-picture">
              <%= image_tag(item.picture_url) %>
            </div>
          </div>
          <div class = "information">
            <h5><%= item.name %></h5>
            <h5><%= item.brand %></h5>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
<% end %>
