
  <!-- Logo -->
  <%#= link_to root_path, class: "navbar-unclogd-brand" do %>
    <%#= image_tag "logo.png", height: 50 %>
  <%# end %>

  <!-- Right Navigation -->
  <div class="main-nav">
        <ul>
          <li><a href="Search" class="is-active">Search</li>
          <li><a href="Quiz">Quiz</a></li>
          <li><a href="Account">Account</a></li>
          <li><a href="Basket">Basket</a></li>
          <li><a href="Check">Check</a></li>
          <li><a href="Sign Out">Sign Out</a></li>
        </ul>

        <a href="#" class="main-nav-trigger">
          <i class="fas fa-bars"></i>
        </a>
    </div>



      <!-- Links when logged in -->



      <!-- Avatar with dropdown menu -->

  <!-- </div>

  <-- Dropdown list appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div> -->

