<p>Status: <%= @order.status %></p>
<p>Amount: <%= humanized_money_with_symbol(@order.amount) %></p>
<div class= "row">
  <% @order.package.items.each do |item| %>
      <%= render 'items/item_card', {item: item} %>
      <hr />
  <% end %>
</div>
