
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans" rel="stylesheet">

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="browse-container">
<h1><%= link_to "Browse", items_path %></h1>
<h4>Search and find more about a product</h4>

</div>

<div class="find-container">
<h1><%= link_to "Find", items_path %></h1>
<h4>Search and find more about a product</h4>
</div>

<div class="check-container">
  <% if current_user %>
    <h1><%= link_to "Check", user_path(current_user) %></h1>
  <% else %>
    <h1><%= link_to t(".sign_in", default: "Check"), new_user_session_path %></h1>
  <% end %>
  <h4>Search and find more about a product</h4>
</div>
