<h1>Purchase of package <%= @order %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    </label>
  </article>
<% end %>

