<h1> Available items (<%= @items.length %>) </h1>

<div class="cards">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= item.picture_url %>)">
          <%= item.name %>
      </div>
    <% end %>
  <% end %>
</div>
