body.packages.show{
  .container {
    width: 900px;
  }
}


body.packages.show, body.orders.show {


  .index-card {
    display: flex;
    vertical-align: center;
    align-items: center;
    width: 900px;
    // height: 210px;
    margin: auto;
    padding: 0px;
    margin-top: -60px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .information {
    width: 700px;
    // border: 1px solid black;
    margin-left: 40px;
  }

.fas.fa-trash {
    position: absolute;
    right: -574px;
    top: 52px;
}

  .picture-container {
    width: 200px;
    height: 200px;
    margin: auto;
    background: #E8ECEF;
    margin-top: 70px;
    border: none;
    position:relative;
    left: -17px;

    .item-picture {
      padding-right: 10px;
      width: 180px;
      height: 180px;
      background: white;
      // border: solid 3px black;
      position: absolute;
      margin: 10px;
      img {
        height: 100%;
        width: 100%;
      }
      a {
        width: 180px;
        height: 180px;
      }
    }
  }


.description-headers {
  width: 900px;
  margin: auto;
}
.shopping{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stripe-button {
background-color: white;
}

hr {
  color: #9D9D9D;
  width: 100%;
  border: 1px solid;
}



}
