body.items.index {

  background: white;

  .picture {
    width: 290px;
    padding: 8px;
    height: 300px;
  }

  .inner-container {
    padding-top: 24px;
  }

  .row1 {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .overfl {
    overflow-x: scroll;
  }

  a {
    color: black;
    text-decoration: none;
  }


  .button1 #search-button {
    background-color: black;
    width: 66px;
    height: 66px;
    margin-top: 7.5px;
    margin-left: -9.5px;
  }

  .search-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
  }

  .row2 {
    flex-wrap: wrap;
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    width: 1300px;

    >col {
      width: 300px;
      padding: 40px;
      background-color: green;
    }


  }

  .search-bar {
    height: 141px;
    display: block;
    text-align: center;
  }

  .flash-success {
    justify-content: center;
    width: 50%;
    border-radius: 0;
    border: solid 4px;
    border-width: 4px 0px 4px 4px;
    box-shadow: none;
  }

  .button1 {
    z-index: 1;
    float: left;
    width: 65px;
    height: 65px;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
  }

  .button1:hover {
    opacity: .8;
  }
}
