

body {
  font-family: 'Karla', sans-serif;
}

.logo {
  height: 60px;
  width: 245px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  z-index: 13;
}

// main-navbar


.navbar-unclogd-brand {
  margin-left: 800px;
}
.main-navbar .homepage-login {
    position: relative;
    top: 20px;
    height: auto;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;

}

.homepage-login .main-navbar {
  color: #cecaca;
  text-transform: uppercase;
  display: inline-block;
  transition: .10s;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0px 20px;

}

.homepage-login .main-navbar-link {
  padding: 10px;
  color: #cecaca;
}


.homepage-login .main-navbar-link:hover {
    color: #74E4D6;
    text-decoration: none;
}


.homepage-login .main-navbar:hover ul {
  height: 40px;
  // visibility: visible;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

}



  .main-navbar ul li, .main-nav ul li a:hover {
    color: #74E4D6;
    text-decoration: none;
  }




  // a:visited {
  //   color: #cecaca;
  // }

  // a {
  //   background-color: transparent;
  // }




  .homepage-login .main-navbar .fa-bars {
    color: black;
    font-size: 30px;
  }


  // login-navbar//
.main-nav {
    // z-index: 12;
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    margin-top: 15px;
}

.main-nav ul {
  color: #cecaca;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.main-nav:hover ul {
    // height: 40px;
  visibility: visible;
}




.main-nav ul li {
    color: #cecaca;
    padding: 0px 16px;
    // transition: .10s;
    // transform: translateY(-81%);
    display: inline-block;
    text-decoration: none;
    // font-size: 13px;

}

.main-nav ul li, .main-nav-link ul li:hover {
    color: #74E4D6;
    text-decoration: none;

  }

.main-nav ul li {
    text-transform: uppercase;
    display: inline-block;
    transition: .10s;
    font-size: 12px;
    letter-spacing: 1px;
    color: #cecaca;

}


  // a:visited {
  //   color: #cecaca;
  // }

  // a {
  //   background-color: transparent;
  // }

.pages.home .main-nav .main-nav-trigger  .fa-bars {
  color: black;
}


.main-nav .main-nav-trigger .fa-bars {
    color: black;
    font-size: 30px;

}


// .pages.home a:visited {
//   color: #cecaca;
// }

.pages.home .main-nav .search {
  color: #cecaca;
}

.pages.home .main-nav a:hover {
    color: #74E4D6;
    text-decoration: none;

  }
