

body {
  font-family: 'Karla', sans-serif;
}

.logo {
  position: relative;
  height: 60px;
  width: 245px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  z-index: 13;
}

// main-navbar

.navbar-unclogd-brand {
  margin-left: 800px;
}

.main-navbar .homepage-login {
    position: relative;
    top: 20px;
    height: auto;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;

}

.homepage-login .main-navbar {
  // color: #cecaca;
  text-transform: uppercase;
  display: inline-block;
  transition: .10s;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0px 20px;

}

.homepage-login .main-navbar-link {
  padding: 10px;
}


.homepage-login .main-navbar-link:hover {
    color: #00c5cd;
    text-decoration: none;
}


.homepage-login .main-navbar:hover ul {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}



  .main-navbar ul li, .main-nav ul li a:hover {
    color: #00c5cd;
    text-decoration: none;
  }

  .homepage-login .main-navbar .fa-bars {
    color: black;
    font-size: 30px;
  }

// login-navbar//
.main-nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    margin-top: 15px;
}

.main-nav ul {
  color: #cecaca;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.main-nav:hover ul {
  visibility: visible;
}

.main-nav ul li {
    color: #cecaca;
    padding: 0px 12px;
    display: inline-block;
    text-decoration: none;
}

.main-nav ul li, .main-nav-link ul li:hover {
    color: #00c5cd;
    text-decoration: none;

  }

.main-nav ul li {
    text-transform: uppercase;
    display: inline-block;
    transition: .10s;
    font-size: 12px;
    letter-spacing: 1px;
    color: #cecaca;
}

.navbar .main-nav-trigger .fa-bars, .navbar .dropdown .fa-bars {
    color: black;
    font-size: 30px;

}

.pages.home .main-nav .search {
  color: #cecaca;
}

.pages.home .main-nav :hover {
    color: #00c5cd;
    text-decoration: none;

  }

// drop-down-menu//

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 2px black;
  border-color: black;
}

.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #00c5cd !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
