body {
  font-family: 'Work Sans', sans-serif;
}


// main-navbar


.main-navbar .homepage-login {
    position: relative;
    top: 20px;
    height: auto;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
}

.homepage-login .main-navbar {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  transition: .10s;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0px 20px;

}

.homepage-login .main-navbar-link {
  padding: 10px;
  color: white;
}


.homepage-login .main-navbar-link:hover {
    color: #74E4D6;
    text-decoration: none;
}


.homepage-login .main-navbar:hover ul {
  height: 40px;
  // visibility: visible;
  padding-top: 10px;
  // overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}



  .main-navbar ul li, .main-nav ul li a:hover {
    color: #74E4D6;
    text-decoration: none;

  }




  a:visited {
    color: inherit;
  }

  a {
    background-color: transparent;
  }




  .homepage-login .main-navbar .fa-bars {

    color: white;
    font-size: 30px;

  }

.main-nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    text-align: center;
    transition: .10s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    padding-bottom: 40px;
}

.main-nav ul {
  visibility: hidden;
  padding-top: 10px;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.main-nav:hover ul {
    // height: 40px;
  visibility: visible;
}




.main-nav ul li {
    padding: 0px 20px;
    // transition: .10s;
    // transform: translateY(-81%);
    display: inline-block;
    text-decoration: none

}

.main-nav ul li, .main-nav-link ul li:hover {
    color: #74E4D6;
    text-decoration: none;

  }

.main-nav ul li {
    text-transform: uppercase;
    display: inline-block;
    transition: .10s;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;

}


  a:visited {
    color: black;
  }

  a {
    background-color: transparent;
  }




  .main-nav .main-nav-trigger .fa-bars {
    color: black;
    font-size: 30px;

  }



