body.packages.show, body.packages.show_multiple {

    background: white;
    height: 100vh;


  .basket {
    width: 800px;
    text-align: center;
  }
  .picture {
    width: 250px;
    padding: 10px;
    height: 20px;
  }

  h1 {
  font-family: 'Crimson Text', serif;
  font-size: 40px;
  font-weight: heavier;
  position: absolute;
  left: 0px;
    }

  h2 {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  position: relative;
  left: 0px;
  // font-weight: heavier;
  }

  button {
    width: 100%;
  }

  .picture-front {
    height: 310px;
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }


  .row1 {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .row3 {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }


  // a:visited {
  //   color: black;
  // }

  a {
    color: black;
    text-decoration: none;
  }

  // a:hover {
  //   color: #74E4D6;
  // }

  .button1{
    background: black;
    width: 66px;
    height: 66px;
    margin-top: 7.5px;
    margin-left: -9.5px;
  }

  .search-form {
    display: flex;
  }

  .col1 {
    width: 300px;
  }

  .row2 {

    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

  }
  .row2 {

    flex-wrap: wrap;
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    width: 1300px;
    margin-left: 190px;

    > col {
      width: 300px;
      padding: 40px;
      background-color: green;
    }

  }


  .flash-success {
    justify-content: center;
    width: 60%;
    border-radius: 0;
    border: solid 4px;
    box-shadow: none;
  }

  button {
  float: left;
  width: 200%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

}
