body.items.show {

  background: white;
  font-family: 'Karla', sans-serif;

  h3 {
    font-family: 'Karla', serif;
  }

  .title {
    font-size: 30px;
    margin-left: -2px;
  }

  .inner-container {
    width: 100%;
    height: 800px;
  }

  .col1 {
    padding: 10px;


  }



  .col2 {
    height: 390px;
    width: 780px;
  }
  .row1-info{
    padding: 10px;


  }
  .row1-main {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 500px;
    width: 100%;
    padding-top: 200px;
  }

  .picture-container {
    width: 400px;
    height: 500px;
    margin-left: 250px;
    background: #E8ECEF;
    position: relative;
    margin-top: 70px;

    .picture {
      width: 370px;
      height: 470px;
      background: white;
      border: solid 3px black;
      position: absolute;
      margin: 15px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .row1-info {
    margin-left: 17px;

  }

  .row2-info {
    display: flex;
    vertical-align: center;
    align-items: center;
    margin-top: -30px;

  }

  .row2-info {
    padding: 10px;
  }


  // trying

 .ingredient-text.last {
  width: 480px;
 }
  .ingredient-text {
    border-bottom: solid 2px grey;
  }
  .ingredient-text.active {
    border-bottom: solid 2px;
  }

 .nav {
  display: flex;
 }
  .container--tabs {
  margin: 2rem;
  font-family: 'Karla', serif;

  .nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid transparent;

    > li {
      float: left;
      margin-bottom: -1px;

      > a {
        float: left;
        margin-right: 2px;
        line-height: 1.42857143;
        padding: 10px;
        border: none;

        &:hover {
          background-color: transparent;
        }
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          color: black;
          cursor: default;
          background-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
  }

  .picture {
    width: 250px;
    height: 250px;
    background: white;
    border: solid 3px black;
  }

  .nav-tabs li a{
    color: grey;
    border: none;
  }
  .tab-content {
    float: left;
    width: 100%;
    margin-left: -6.5px;
    margin-top: 10px;

    > .tab-pane {
      display: none;
    }

    > .active {
      display: block;
    }
  }

}

.buy-button{
  position: absolute;
  background: transparent;
  color: black;
  right: 156px;
  top: 10px;


}

.col2{
  position: relative;




}

}

